/*header*/
#hhc{
    font-size: 40px;
    animation-name: hhc;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes hhc{from{font-size:  40px;}to{font-size: 50px;}}

#logo{
    text-align: left;
}

video{
    float: right;
    border-style: solid;
    border-width: 5px;
    border-color: #6d8170;
    border-radius: 30px;
    margin-bottom: 5%;
}

/*navigation menu*/
#nav{
    font-size: 25px;
    background-image: linear-gradient( #64AA91 , rgb(202, 142, 102));
    overflow: hidden; 
    box-shadow: 8px 8px 10px rgb(79, 78, 78);
    display: block;
    text-decoration: none;
    width: 100%;
    margin-right: 5%;
    text-align: center;
}
  
#nav a{
    display: block;
    padding: 8px 8px 16px;
    text-decoration: none;
}

#nav a:hover{
    background-color: #422c2c;
    color: rgb(206, 198, 198);
    width: 100%;
}

#login a{
    padding-left: 4%;
}

/*main content*/
body{
    background-color: rgb(218, 248, 218);
    text-align:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(picture/Fruits\ Daily.png);
    text-decoration:solid;
}
  
main{
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
    padding-inline-end: 10px;
}

#welcome{
    font-size: 30px;
    color: black;
    animation-name: welcome;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes welcome{ from{color: rgb(41, 38, 38);}to {color: rgb(132, 113, 113);}}

#survey{
    font-weight: bold;
    background-image: linear-gradient(#64AA91,rgb(126, 152, 248));
    box-shadow: 8px 8px 10px grey;
    padding-top: 2px;
}

/*footer*/
footer{
    font-style: italic;
    font-size: medium;
    text-align: center;
    background-color:#83a685;;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

#contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px,auto));
    gap: 1rem;
}

#contact-info h4{
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-style: normal;
}

#contact-info a{
    text-decoration: none;
    font-weight:bold;
}

#contact-info a:link{
    color: rgb(103, 101, 101);
}

#contact-info a:visited{
    color: #9b7761;
}

#contact-info a:hover{
    color:darkolivegreen;
}

#contact-info a:active{
    color: darkcyan;
}

#first-info p{
    color: #565656;
    font-size: 12px;
    font-style: normal;
}

#second-info p{
    font-style: normal;
    font-size: 12px;
}

#second-info p:hover{
    transform: scale(1.1,1.1);
}

#third-info p{
    font-style: normal;
    font-size: 12px;
}

#third-info p:hover{
    transform: scale(1.1,1.1);
}

#fourth-info p{
    font-style: normal;
    font-size: 12px;
}

#fourth-info p:hover{
    transform: scale(1.1,1.1);
}

#fifth-info p{
    font-style: normal;
    font-size: 12px;
}

#fifth-info p:hover{
    transform: scale(1.1,1.1);
}

#sixth-info p{
    font-style: normal;
    font-size: 12px;
}

#sixth-info p:hover{
    transform: scale(1.1,1.1);
}